

body{
    background-color: #feffdf;
}
h1{
    background-color: #668ba4;
    color: #feffdf;
}
h2{
    background-color: #97cba9;
}
h3{
    background-color: #dde0ab;
}
mark{
    background-color: rgb(214, 214, 3);
}
